<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Index {% endblock %}</title>
    <style>
        body {
            background-color: #CECEC4;
        }

        .center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px;
        }
    </style>
</head>
<body onload="initPage()">

<div class="center">
    {% block content %} {% endblock %}
</div>
</body>
</html>