{% extends 'base.html' %}

{% block content %}
    <style>

    </style>

    <div>
        <div style="float:left;margin-right:20px;">
            <h1>Ping Server</h1>
            <p>
                This page creates a random string and sends to the Pong server. The Pong server responds back with
                the message sent.
            </p>
            <div>
                Ping Message: <strong id="randomString"></strong> to {% if IS_LOCALHOST is true %}localhost{% else %}K8s LoadBalancer{% endif %}
            </div>
            <hr/>
            <div>
                <label for="ping">Pong Response: </label>
                <textarea id="ping" style="width: 100%; height: 100px;"></textarea>
            </div>
        </div>

    </div>
    <script>
        {% if IS_LOCALHOST is true %}
            const HOST = "localhost";
            const PORT = "5001";
        {% else %}
            const HOST = "192.168.13.34";
            const PORT = "8080";
        {% endif %}

        // need to run this every second
        function ping() {
            // set a random string that's sent over to the pong-server
            const message = randomString();

            const fetchResponse = fetch("http://" + HOST + ":" + PORT + "/ping?message=" + message)

            fetchResponse.then((response) => {
                const json = response.json();
                json.then((body) => {
                    document.getElementById('ping').value = body.pong;
                })

            });
        }

        function randomString() {

            const randomString = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);

            document.getElementById('randomString').innerHTML = randomString;

            return randomString;
        }

        function initPage() {
            setInterval(ping, 1000);
        }

    </script>


{% endblock %}





